.custom-popup {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  .custom-popup .popup-header {
    background-color: #587b7f;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
  }
  
  .custom-popup .capacity,
  
  .custom-popup .bikes {
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    background-color: #08ABBC;
    color: #fff;
    width: 50%;
    text-align: center;
  }
  
  .custom-popup .bikes {
    display: inline-block;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    width: 50%;
    text-align: center;
  }

  .custom-popup .type {
    display: block;
    margin: 5px auto;
    padding: 2px;
    background-color: #0072C6;
    color: #fff;
    border-radius: 5px;
    width: auto;
    text-align: center;
  }
  
  .custom-popup .closed {
    display: block;
    background-color: #f44336;
    color: #fff;
    border-radius: 5px;
    width: auto;
    text-align: center;
  }
  
  .custom-popup .open {
    display: block;
    color: #fff;
    background-color: #4caf50;
    border-radius: 5px;
    width: auto;
    text-align: center;
  }